/shieldd
/shield
/shield-agent
/shield-schema
/docker-postgres*
/dummy
/elasticsearch
/mysql
/postgres
/redis-broker
/rabbitmq-broker
/s3
/s3_elasticsearch
/fs

# ignore vim buffers
.*.sw?

# where we keep coverage reports...
/coverage

# secrets
/ci/credentials.yml
